<h1 class="center"> Users Ajax Assignment </h1>
<hr>
<button class="users-display"><h5> All users </h5></button>
<br>
<h4><%= button_to 'New user', new_user_path, method: :get %></h4>
<hr>
<ul class="user-list">
</ul>
